body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* *{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
} */


::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
    /* background: red;  */
  /* background: #f1f1f1; Light grey background */
  width: 2px;
}
/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: transparent; 
  /* background: #888; Dark grey thumb */
  border-radius: 6px; /* Rounded corners for the thumb */
}